body {
  font-family: Arial, sans-serif;
  background-image: url();
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #0077cc;
  color: white;
  padding: 20px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: underline;
  font-size: 14px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  gap: 24px;
  padding: 32px;
}

.card-link {
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.2s ease;
}

.card-link:hover .card {
  transform: scale(1.05);
}

.card-image {
  width: 96px;
  height: 96px;
  object-fit: contain;
  margin-top: 8px;
  margin-bottom: 16px;
}

.card-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #2d3748;
  text-align: center;
}
@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

